---
---

// IMPORTS (more at bottom)
@import "reset";
@import "variables";

/**************/
/* BASE RULES */
/**************/

html  {
  font-size: 100%;  }

body  {
  background-color: $black;
  margin-top: 30px;
  font: 18px/1.4 $helvetica;
  color: $gray;  }

.container  {
  margin: 0 auto;
  max-width: 790px;
  padding: 20px 30px;
  width: 100%;  }

h1, h2, h3, h4, h5, h6  {
  font-family: $helveticaNeue;
  color: $lightGray;
  font-weight: bold;
  line-height: 1.4;
  margin: 20px 0 15px;
  padding: 0;
  @include mobile
    {
    line-height: 1.4;
    }  }

h1  {
  font-size: 36px;
  line-height: 1em;
  a
    {
    color: inherit;
    }  }

h2  {
  font-size: 32px;  }

h3  {
  font-size: 28px;  }

h4  {
  font-size: 24px;
  color: $gray;  }

h5  {
  font-size: 21px;
  color: $gray;  }

h6  {
  font-size: 18px;
  color: $gray;  }

p  {
  margin: 15px 0;  }

a  {
  color: $blue;
  text-decoration: none;
  cursor: pointer;
  &:hover, &:active
    {
    color: $blue;
    }  }

ul, ol  {
  margin: 15px 0;
  padding-left: 30px;  }

ul  {
  list-style-type: disc;  }

ol  {
  list-style-type: decimal;  }

ol ul, ul ol, ul ul, ol ol  {
  margin: 0;  }

ul ul, ol ul  {
  list-style-type: circle;  }

em, i  {
  font-style: italic;  }

strong, b  {
  font-weight: bold;  }

sup
    {
    vertical-align: super;
    font-size: smaller;
    }

img  {
  max-width: 600px;
  max-height: 600px;
  background-color: white;
  padding: 20px;  }

dl:after {content:"";display:table;clear:both;}
dd {
    padding:.5em 0;}
dl {
    width:100%;}
dt, dd {
    display:inline-block;
    width:20%;}
dt {
    text-align:right;
    font-weight:bold;
    clear:left;
    float:left;}
dd {
    width:80%;
    padding-left:1em;
    clear:right;}
dt:first-child {
    padding-top:.5em;}
dd + dt {
   clear:both;
    padding-top:.5em;}

table {
    border: solid 1px #AAAAAA;
    border-collapse: collapse;
    border-spacing: 0;  }

thead th {
    border: solid 1px #AAAAAA;
    padding: 10px;
    text-align: left;  }

tbody td {
    border: solid 1px #AAAAAA;
    padding: 4px;  }

td {
 white-space: nowrap;  }

/*
dl
  {    
  width: 100%;  }
dt  {
  float: left;
  text-align: right;
  width: 25%;
  font-weight: bold;  }

dt::after
 {
    content: ":";  }

dd  {
  color: grey;
  margin-left: 30%;  }
*/

// Fix images Google Translate popup boxes
.gmnoprint img  {
  max-width: none;  }

.date  {
  font-style: italic;
  color: $darkGray;  }

// Specify the color of the selection
::-moz-selection  {
  color: $black;
  background: $lightGray;  }
::selection  {
  color: $black;
  background: $lightGray;  }

// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after  {
  content: " ";
  display: table;  }

.clearfix:after  {
   clear: both;  }

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead  {
    float: none;
    
/*    float: right;
    margin: -20px 0 0 0;
    width: 240px;
    padding: -40px 20px 0 0;  */ }

.masthead  {
  @include mobile
    {
    width: 35%;
    }  }

.site-info  {

    display: none;
      @include mobile
    {
    float: none;
    display: block;
    margin: 0 auto;
    }  }

.site-name  {
  margin: -20px 0 0 0;
  color: $lightGray;
  cursor: pointer;
  font-family: $helveticaNeue;
  font-weight: bold;
  font-size: 36px;
  letter-spacing: 1px;  }

.site-description  {
  margin: -20px 0 0 0;
  color: $gray;
  font-size: 14px;

  @include mobile
    {
    margin: 3px 0;
    }  }

.site-author  {
  margin: 1px 0 0 0;
  color: $gray;
  font-size: 14px;
  font-style: italic;
  @include mobile
    {
    margin: 3px 0;
    }  }

.none  {
    display: none;
ul li  {
    list-style-type:none; 
    margin-left: -30px;  }  }

.submenu  {
  float: right;
  margin: 25px 10px 30px 40px;
  font-size:90%;
  li  {list-style-type: none;}
  a {color: $blue2;}  }

.arrow
    {
    padding-top: 20px;
     font-size: 3em;
     font-weight: 600;
     text-decoration: none;
    text-align: center;
    }

.arrowblog
    {
    padding-top: 20px;
    font-size: 1.1em;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    }

nav  {
  margin-top: 20px; // @TODO: Vertically middle align
  font-family: $helveticaNeue;
  font-size: 18px;

  @include mobile
    {
    margin-top: 9px;
    display: block;
    font-size: 14px;
    }

  a
    {
    color: $blue;
    font-weight: 300;
    letter-spacing: 1px;
    @include mobile
      {
      margin: 0 10px;
      color: $blue;
      }
    }  }

//
// .main
//

.posts > .post  {
  padding-bottom: 2em;
  border-bottom: 1px solid $darkGray;  }

.posts > .post:last-child  {
  padding-bottom: 1em;
  border-bottom: none;  }

.post  {
  blockquote
    {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 22px;
    font-style: italic;
    }

  .comments
    {
    margin-top: 10px;
    }

  .read-more
    {
    text-transform: uppercase;
    font-size: 15px;
    }  }

.wrapper-footer
  { 
  background-color: $black;  }

footer  {
  padding-bottom: 40px;
  text-align: center;  }

#nav  {
    margin: 0;
/*    float: none; 
    width: 100%;  }
*/
#nav ul  {
    list-style: none;
    background: #222;
    position: relative;
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;  }

#nav ul a  {
    display: block;
    color: grey;
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    line-height: 35px; 
    padding: 0;
    width: 115px;
    font-family: "HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;  }

#nav ul li  {
    position: relative;
    float: none;
    margin: 0;
    font-size: 20px;
    padding: 0;
    width: 100%;  }

#nav ul li:hover  {
    background: #333;  }

#nav ul ul  {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 0;
    width: 115px;  }

#nav ul ul li {
    float: none;
    font-size: 20px;
    width: 115px;  }

#nav ul ul a  {
    line-height: 100%;
    padding: 0;  }

#nav ul ul ul  {
    top: 0;
    left: 100%;
    width: 80px;  }

#nav ul ul ul li  {
    float: none;
    width: 80px;  }

#nav ul ul ul ul  {
    top: 0;
    left: 100%;
    width: 275px;  }

#nav ul ul ul ul a  {
    float: none;
    width: 275px;  }

#nav ul li:hover > ul  {
    display: block  }

/*
*,
*: before,
*: after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  }

body, html {
  height: 100%;
  background-color: #EEEEEE;  }

.container {
  width: 100%;
  height: 100%;  }

.tutorial {
  width: 80%;
  margin: 5% auto 0 auto;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  max-width: 800px;  }

.tutorial ul {
  font-size: 0;
  list-style-type: none;  }

.tutorial ul li {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #333;
  display: inline-block;
  padding: 15px;
  position: relative;  }

.tutorial ul li ul {
  display: none;  }

.tutorial ul li:hover {
  cursor: pointer;
  background-color: #f2f2f2;  }

.tutorial ul li:hover ul {
  display: block;
  margin-top: 15px;
  width: 200px;
  left: 0;
  position: absolute;  }

.tutorial ul li:hover ul li {
  display: block;
  background-color: #e7e7e7;  }

.tutorial ul li:hover ul li span {
  float: right;
  color: #f9f9f9;
  background-color: #F03861;
  padding: 2px 5px;
  text-align: center;
  font-size: .8rem;
  border-radius: 3px;  }

.tutorial ul li:hover ul li:hover {
  background-color: #e0e0e0;  }

.tutorial ul li:hover ul li:hover span {
  background-color: #ee204e;  }

*/

// @import "highlights";
// @import "svg-icons";

/*
.tutorial .slider {
  width: 100%;
  height: 300px;
  background-color: #F03861;  }

.tutorial .information {
  width: 100%;
  padding: 20px 50px;
  margin-bottom: 30px;
  font-family: "Open Sans", sans-serif;  }

.tutorial .information h1 {
  color: #333;
  font-size: 1.5rem;
  padding: 0px 10px;
  border-left: 3px solid #F03861;  }

.tutorial .information h3 {
  color: #e0e0e0;
  font-size: 1rem;
  font-weight: 300;
  padding: 0px 10px;
  border-left: 3px solid #F03861;  }

.tutorial .information p {
  padding: 10px 0px;  }

*/ 
